/* Minimal CSS Reset */

html {
  box-sizing: border-box;
  font-size: 12px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

.btn {
  border-radius: var(--border-radius);
  color: white;
  display: inline-block;
  font-size: 0.75rem;
  padding: 3px 9px 3px 9px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}


.btn-rss {
  background-color: #b9501f;
}

.btn-rss:hover {
  background-color: #923507;
}


img {
  max-width: 100%;
  height: auto;
}
